@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* El resto de tus estilos personalizados pueden ir abajo */
body {                 
  margin: 0;
  font-family: 'poppins', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}